$primary: #c4c4c4;
$hovoer: #ededed;
$border: #666666;
$selected: #949494;
$back: rgb(246, 246, 246);

.chatRoomContainer{
    right: 5px;
    bottom: 0;
    position: absolute;
    z-index: 50;
    width: 300px;
    background-color: #fff;
    border: 1px solid #000;
    .messagesList {
        height: 300px;
        overflow-y: scroll;
        border-bottom: 1px solid #000;
        div {
            height: 25px;
            margin: 2px 10px;
            font-size: 16px;
        }
    }
    .ChatRoomViewContainer {
        .ChatRoomViewBtn {
            justify-content: center;
            width: 100%;
            height: 32px;
            border: none;
            cursor: pointer;
            background-color: $primary;
            display: flex;
            align-items: center;
        }
    }
    .messagesInputContainer {
        height: 50px;
        display: flex;
        margin: 5px 0;
        input{
            width: 70%;
            margin: 5px;
            margin-right: 0;
        } 
        button{
            width: 30%;
            margin: 5px;
            text-align: center;
            border: solid 1px #000;
            cursor: pointer;
            border-radius: 3px;
            background-color: $primary;
        }
        button:hover{
            background-color: $hovoer;
        }
    }
}