// $primary: #c4c4c4;
// $hovoer: #ededed;
// $border: #666666;
// $selected: #949494;
// $back: rgb(246, 246, 246);

$primary: #358be0;
$second: #fff;
$hovoer: #ebf5f7;
$border: #358be0;
$font: #2570e8;
$back: rgb(246, 246, 246);

.canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $back;
    width: 100%;
    min-height: 400px;
    height: 100%;
    overflow: hidden;
    position: relative;
    .upperEditList {
        position: absolute;
        top: 5px;
        display: flex;
        left: 0;
        z-index: 50;
        .saveBtnContainer{
            width: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .btnDownload {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 50px;
                overflow: hidden;
                width: 160px;
                border: solid 2px $primary;
                cursor: pointer;
                background-color: $second;
                color: $font;
                font-weight: 700;
                border-radius: 5px;
                margin-left: 5px;
            }
            .btnDownload:hover{
                background-color: $hovoer;
            }
        }

    }
    .layerLists {
        position: absolute;
        top: 5px;
        right: 0px;
        z-index: 200;
        width: auto;
        border: 2px solid $primary;
        border-radius: 5px;
        overflow: hidden;
        .btnContainer {
            background-color: $second;
            display: flex;
            justify-content: space-between;
        }
        .btn {
            text-align: center;
            width: 28px;
            height: 28px;
            border: none;
            margin: 3px;
            cursor: pointer;
            border-radius: 3px;
            background-color: transparent;
            .btnImage {
                width: 20px;
                height: 20px;
                margin-top: 3px;
                color: $primary;
            }
        }
        .btn:hover{
            background-color: $hovoer;
        }
        .layer {
            background-color: $second;;
            padding: 5px 0;
            border-top: 1px solid $border;
            display: flex;
            align-items: center;
            color: #6b6b6b;
            font-weight: 500;
            font-size: 14px;
            justify-content: space-around;
            width: 180px;
        }
        .layerImg{
            width: 60px;
            height: 30px;
            border: 1px solid #6b6b6b;
            object-fit: cover;
            background-color: #fff;
        }
        .layerOwnerContainer {
            width: 7px;
            height: 30px;
            .layerOwner{
                width: 100%;
                height: 100%;
                background-color: $primary;
            }
        }
        .layerViewContainer {
            .layerViewBtn {
                justify-content: center;
                width: 100%;
                height: 36px;
                border: none;
                cursor: pointer;
                background-color: $primary;
                display: flex;
                align-items: center;
                color: $second;
                font-weight: 700;
                width: 180px;
            }
        }
    }
    .zoomPercent {
        display: flex;
        position: absolute;
        left: 10px;
        bottom: 10px;
        z-index: 50;
        .zoomPercentDisplay {
            width: 50px;
            text-align: center;
            margin: 0 2px;
            color: $primary;
            font-weight: 500;
        }
        .zoomPercentBtn {
            border: none;
            cursor: pointer;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btnImage{
            color: $second;
        }
    }
    .canvas {
        width: auto;
        height: auto;
        border: 1px solid #6b6b6b;
    }
}

.upperEditListSmall {
    display: none;
}

.upperEditListSmallDropdown{
    display: none;
}

.layerViewContainerSmall {
    display: none;
}

@media screen and (max-width: 800px) {
    .canvasContainer {
        .upperEditList{
            display: none;
        }

        .upperEditListSmall{
            position: absolute;
            top: 5px;
            display: flex;
            left: 10px;
            z-index: 50;
            cursor: pointer;
            color: $primary;
            background-color: $second;
            border-radius: 5px;
            border: $border 2px solid;
        }
    
        .upperEditListSmallDropdown {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 45px;
            left: 5px;
            min-width: 160px;
            z-index: 100;
            div {
                padding: 12px 12px;
                text-decoration: none;
                height: 40px;
                color: $primary;
                font-weight: 700;
                font-size: 16px;
                display: flex;
                align-items: center;
                cursor: pointer;
                background-color: #fff;
                border: $border 2px solid;
                border-radius: 5px;
                margin: 5px;
            }
        }
        .layerViewContainerSmall {
            display: block;
            .layerViewBtn {
                justify-content: center;
                width: 100%;
                height: auto;
                border: none;
                cursor: pointer;
                background-color: $primary;
                display: flex;
                align-items: center;
                color: $second;
                font-weight: 700;
                .btnImage {
                    height: 36px;
                }
                .btnSmall {
                    height: 30px;
                    color: $primary;
                    background-color: $second;
                }
            }

        }

        .layerViewContainer {
            display: none;
        }
    }
}


@media screen and (max-width: 360px) {
    .canvasContainer{
        width: 360px;
    }
}
