$primary: #358be0;
$second: #fff;
$third: #6b6b6b;

.navbarListContanier{
    background-color: $primary;
}

.navbarRightSmall {
    display: none;
}

.dropdown{
    display: none;
}

.navbarList{
    width: 1200px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .navbarLeft{
        margin-left: 20px;
        .title{
            color: $second;
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
        }
    }
    .navbarRight{
        margin-right: 20px;
        .itemButton{
            margin-left: 10px;
            padding-left: 20px;
            padding-right: 20px;
            height: 40px;
            color: $primary;
            font-weight: 700;
            font-size: 1.1em;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            background-color: $second;
            transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
            border: 2px solid $primary;
        }
        .itemButton:hover{
            background-color: $primary;
            color: $second;
            border: 2px solid $second;
        }
    }
}

@media screen and (max-width: 1200px) {
    .navbarList{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .navbarRight {
        display: none;
    }
    .navbarRightSmall{
        cursor: pointer;
        margin-right: 20px;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 62px;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        border: 1px solid #ddd;
        z-index: 99;
    }
    
    .dropdown div {
        padding: 12px 12px;
        text-decoration: none;
        height: 50px;
        color: $primary;
        font-weight: 700;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: #fff;
        box-shadow: -5px 5px 5px rgba(0,0,0,0.1);
    }

    .dropdown div:hover{
        background-color: $primary;
        color: $second;
    }
}